<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="uap10.0" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="uap10.0" />
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="5.3.3" targetFramework="uap10.0" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetframework="uap10.0" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="uap10.0" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="uap10.0" />
  <package id="Xamarin.Forms" version="2.3.4.231" targetFramework="uap10.0" />
</packages>